/* Menu Subs */
html{
  font-family: 'Niramit', sans-serif;
  height: 100%;
  width: 100%;
}

/*ket: cnt = container*/
/* Header */
.header{
  height: 169px;
  min-width: 320px;
  width: 80%; 
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.logo img{
  height: 116px;
  width: 102px;

  float: left;
  margin-top: 53px;
  cursor: pointer;
}
.logo p{
  font-size: 32px;
  font-weight: 500;
  color: #738796;

  float: left;
  margin-top: 89px;
  margin-left: 15px;

  cursor: pointer;
}
.menubar{
  display: flex;
  justify-content: flex-end;
}
.search{
  font-size: 20px;
  font-weight: 300;
  font-family: 'Niramit', sans-serif;
  color: rgba(115, 135, 150, 0.48);

  height: 36px;
  width: 286px;
  border: 2px solid #738796;
  border-radius: 50px;
  
  padding-left: 11px;
  margin-top: 94px;
  margin-right: 9px;
}
.search-logo{
  font-size: 32px;
  margin-top: 96px;
  margin-right: 22px;
  cursor: pointer;
}
.search-logo .hover{
  display:none;
}
.acc-logo{
  font-size: 44px;
  margin-top: 89px;
  cursor: pointer;
}

/* Navigasi */
.nav-cnt{
  color: #7C7C7C;
  font-weight: 400;
  font-size: 26px;
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 48.61px
}
.nav-cnt a{
  text-decoration: none;
  color: #7C7C7C;
}
.nav-cnt a:hover {
  color: #BBC7D0;
}

/* Contents */
.contents{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 58px;
}
.contents .content-topper .text1{
  font-size: 36px;
  color: #7C7C7C;
  margin-bottom: 10px;
}
.contents .content-topper .text2{
  font-size: 24px;
  color: #7C7C7C;
  margin-top: 0;
  margin-bottom: 18px;
}
.contents .content-body{
  display: flex;
  justify-content: space-between;
}
.contents .content-body .photo{
  height: 590px;
  width: 30%;
  background-image: url("assets_subs/photo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
}
.contents .content-body .form-cnt{
  width: 68%;
  background-color: #BBC7D0;
  padding-top: 50px;
  padding-bottom: 60px;
}
.contents .content-body .form-cnt{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contents .content-body .form-data{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0px;
  padding: 0 0px;
}
.contents .content-body .form-data .label{
  font-size: 24px;
  color: #7C7C7C;
  font-weight: 400;
  width: 20%;
  text-align: right;
  margin-right: 50px;
}
.contents .content-body .form-data input{
  font-size: 20px;
  font-weight: 400;
  color: rgba(115, 135, 150, 0.48);
  border: 2px solid #738796;
  background-color: rgba(115, 135, 150, 0);
  width: 60%;
  padding: 8px 0 9px 12px;
}
.contents .content-body .form-data select{
  font-size: 20px;
  color: rgba(115, 135, 150, 0.48);
  border: 2px solid #738796;
  background-color: rgba(115, 135, 150, 0);
  width: 60%;
  padding: 8px 0 9px 12px;
}
.contents .content-body .form-cnt .agree-confirm{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.contents .content-body .form-cnt .agree-confirm .agree-cnt{
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contents .content-body .form-cnt .agree-confirm .agree-cnt input[type=checkbox]{
  transform: scale(3);
}
.contents .content-body .form-cnt .agree-confirm .agree-cnt p{
  font-size: 24px;
  font-weight: 400;
  color: #7C7C7C;
}
.contents .content-body .form-cnt .agree-confirm .agree-cnt a{
  font-size: 24px;
  font-weight: 400;
  color: #738796;
}
.contents .content-body .form-cnt .agree-confirm .confirm-cnt input[type=button]{
  font-family: 'Niramit', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  background-color: #738796;
  width: 240px;
  height: 64px;
}
.contents .content-body .form-cnt .alert-msg{
  margin: 0 auto;
  width: 86%;
  color: white;
}
/* Footer */
.footer{
  width: 100%;
  display: block;
  background-color: #7C7C7C;
  outline-style: solid;
  outline-width: 10px;
  outline-color: #7C7C7C;
}
.footer-cnt{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 83px;
  padding-bottom: 112px;

  font-weight: 400;
  font-size: 20px;
}
.left-footer-cnt{
  display: flex;
  margin-left: 5%;
}
.right-footer-cnt{
  margin-right: 5%;
}
.footer-cnt h1{
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.64);
}
.footer-cnt ul{
  list-style-type: none;
  padding-left: 0px;
  color: #FFFFFF;
}
.footer-cnt a{
  color: #FFFFFF;
  text-decoration-line: none;
}
  /* Menu */
.menu-cnt ul{
  line-height: 200%;
}
.menu-cnt li:hover{
  text-decoration-line: underline;
}
  /* Contact Us */
.contact-cnt{
  margin-left: 10%;
}
.contact-cnt li{
  display: flex;
  justify-content: flex-start;
}
.contact-cnt li p{
  margin-top: 0px;
  margin-left: 12px;
}
.foll-info{
  margin-right: 10%;
}
  /* Follow Us */
.follow-cnt ul{
  display: flex;
  justify-content: flex-start;
}
.follow-cnt a{
  margin-right: 13px;
}
.follow-cnt .fb{
  margin-right: 0px;
}
.follow-cnt a:hover{
  background-color: #BBC7D0;
}
  /* Info */
.foll-info .info{
  margin-top: 36px;
}
.foll-info .info ul{
  line-height: 200%;
}
.foll-info .info li:hover{
  text-decoration-line: underline;
}



